.menu-item-cart-img {
  width: 100%;
  object-fit: contain;
}

.menu-item-cart-img-container {
  width: 15%;
  height: 70px;
  border: white solid 1px;
  padding: 5px;
  overflow: hidden;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-delete-btn {
  color: white;
  background-color: #1a1a1a;
  border: white solid 1.5px;
  padding: 5px;
  width: 60px;
  font-size: 10px;
}

.cart-btn {
  color: white;
  background-color: #1a1a1a;
  border: white solid 1.5px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
.cart-btns {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.cart-subtotal {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.continue-ordering-btn {
  height: 50px;
}

.checkout-btn {
  height: 65px;
}

.cart-delete-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.cart-container {
  border: white solid 1px;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  height: 700px;
  margin-top: 3%;
}

.cart-menu-item-name {
  font-size: 25px;
}
.cart-btn-flex {
  display: flex;
  flex-direction: column;
}

.quantity-dropdown {
  color: white;
  background-color: #1a1a1a;
  border: white solid 1px;
  width: 60px;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.empty-cart-container {
  margin-top: 40%;
}

.empty-cart-heading {
  margin-bottom: 30px;
}

.cart-pagination {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.cart-pagination i {
  visibility: hidden; /* Hide arrows by default */
}

.cart-pagination i.visible {
  visibility: visible; /* Make arrows visible when they should be displayed */
}

.fas {
  font-size: 24px;
}

.cart-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-controls {
  display: flex;
  flex-direction: column;
}
