.checkout-container {
  border: white solid 1px;
  margin: auto;
  margin-top: 30px;
}

.form-container {
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 60px;
  margin: auto;
  height: 700px;
  width: 90%;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.checkout-header {
  margin-bottom: 50px;
  margin-top: 25px;
}

.back-btn-checkout {
  font-size: 30px;
  display: flex;
  margin: auto;
  color: white;
  text-align: left;
  width: 90%;
}

.place-order-btn {
  background-color: #1a1a1a;
  border: white solid 1px;
  border-radius: 0%;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.place-order-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
